body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #e2bfbf;
    overflow: hidden;
}

.nav a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    float: right;
    display: block;
    color: #9a133e;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav a:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    background-color: #ddd;
    color: #9a133e;
}
