* {
    box-sizing:border-box;
}

.huh{
    display: flex;
    justify-content:  space-between;
    padding: 10px;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content:  space-between;
}
li{
    padding: 10px;
}

body {
    font-family: system-ui, sans-serif;
    margin: 60px; 
}

h1{
    text-align: center;
}

img{
    filter: blur(5px);
}